div:not(.container),
header,
footer {
	background: #dedede;
	padding:20px;
}

/* Basic */
.container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 150px);
}

.item-1 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

/* Layout */
header {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
}

.content-1 {
	grid-column: 2 / 4;
	grid-row: 2 / 6;
}

.content-2 {
	grid-column: 2 / 3;
	grid-row: 6 / 8;
}

.content-3 {
	grid-column: 3 / 4;
	grid-row: 6 / 8;
}

.sidebar {
	grid-column: 1 / 2;
	grid-row: 2 / 8;
}

footer {
	grid-column: 1 / 4;
	grid-row: 8 / 9;
}
